.itinerary {
  margin-top: 2.5rem;
}

.itineraryTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #374151;
}

.list {
  list-style: decimal inside;
  padding: 0;
}

.listItem {
  background-color: #e5e7eb;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}